body {
        background-color: rgba(209, 195, 195, 0.24);
        text-align: center;
        margin: 0;
        font-family: sans-serif;
      }
      h1 {
        font-family: Calibri;
        font-style: italic;
        margin: 0;
      }
      header {
        border: 1px solid rgba(160, 160, 177, 0.897);
        background-color: white;
        display: flex;
        justify-content: space-between;
      }
      #logo{
        width: auto;
        height: auto;
        max-height: 50px;
      }
      span {
        background-color: rgb(2, 104, 187);
        color: white;
        padding: 0 10px;
      }
      div.posts {
        border: 1px solid rgba(160, 160, 177, 0.897);
        background-color: white;
        width: 100%;
        margin: auto;
        max-width: 500px;
        height: 320px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        white-space: normal;
        line-height: 20px;
        text-align: left;

        margin-top: 0.5em;
      }
      #postimg {
        height: 150px;
        width: 100%;
        object-fit: cover;
      }
      p {
        padding-left: 10px;
      }
      p.posthead {
        font-weight: 900;
        font-size: 25px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      p.author {
        font-size: 13px;
      }
      @media (min-width: 952px) {
        side {
          /* border: 2px solid red; */
          height: 100px;
          width: 20%;
        }
      }
      .btncreate {
        height: 50px;
        width: 50px;
        background-color: rgb(2, 104, 187);
        border-radius: 3em;
        position: fixed;
        font-size: 30px;
        font-weight: 550;
        line-height: 50px;
        color: white;
        top: 80%;
        left: 80%;
        /* padding-right: 40%; */
      }
      a {
        color: white;
        text-decoration: none;
      }