{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create your post here</title>
    <link rel="stylesheet" href="{% static 'create.css' %}" />
  </head>
  <body>
    <form action="create" method="post">
      {% csrf_token %}
      <p>TITLE:</p>
      <input
        type="text"
        name="newtitle"
        placeholder="enter the title here"
      /><br />
      <p>AUTHOR:</p>
      <input
        type="text"
        name="writer"
        placeholder="enter the name here"
      /><br />
      <p>TAG:</p>
      <select name="tag">
        <option value="tech">Tech</option>
        <option value="bus">Business</option>
        <option value="life">Lifestyle</option>
        <option value="heal">Health</option>
        <option value="ent">Entertainment</option>
        <option value="edu">Education</option>
        <option value="food">Food</option></select
      ><br />

      <textarea name="postcreated" placeholder="Write your post here"></textarea
      ><br />
      <button type="submit">create post</button>
    </form>
    <footer>
      <p>&copy; 2025 Inkter for Authors and Everyone</p>
    </footer>
  </body>
</html>
