
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkter for Authors and Everyone</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
</head>
<body>
        <header>
      <img src="{% static 'menu.svg' %}" />
      <img src="{% static 'mylogo.png' %}" id="logo" />
      <img src="{% static 'search.svg' %}" />
    </header>

    <main class="container">
      <div class="btncreate"><a href="{% url 'create' %}">+</a></div>
      <side class="profile"></side>
       {% for post in posts reversed %}
      <div class="posts">
        <a
        href="{% url 'post-full' post.id %}"
        style="text-decoration: none; color: black"
      >
        <img id=postimg src="{% static post.picture %}" />
        <p class="posthead">{{post.title |truncatewords:7}}</p>
        <p class="content">
         {{post.content|truncatewords:14}} 
        </p>
        <p class="author">
          <span class="time">{{post.author}}</span> | {{post.time|timesince}} ago
        </p>
        </a>
      </div>
      {% endfor %}

</body>
</html>