body{
     background-color: rgba(209, 195, 195, 0.24);
     font-family: sans-serif;
}
p{
    font-size: 15px;
}
p.content{
    font-size: 1.5em;
}
img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}